PORT=10000
NODE_ENV=production
DATABASE_URL=postgresql://neondb_owner:npg_L32QrhbgtTDn@ep-delicate-morning-ayv0o3by-pooler.c-5.us-east-2.aws.neon.tech/LeaseLock?sslmode=require&channel_binding=require
CLIENT_ORIGIN=lease-lock-jfez2e21n-kshitij20.vercel.app